*{
    margin: 0;
    padding: 0;
     font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.main_box{
    background:url(photo.jpg);
    height:100vh;
    background-size:cover
}
.btn_one{
    color:grey;
    font-size:30px;
    font-weight: 700;
    position:absolute;
    left:16px;
    line-height:60px;
    cursor: pointer;
}
.sidebar_menu{
    position:fixed;
    height:100vh;
    width:300px;
    left:-300px;
    background-color:rgb(255,255,255,0.1);
    box-shadow:0 0 6px rgb(255,255,255,0.5);
    transition: all 0.5s linear;
}

.sidebar_menu .logo{
    position:absolute;
    width:100%;
    line-height:30px;
    box-shadow:0 0 6px rgb(255,255,255,0.5);
    color:rgb(169, 10, 223)
}
.sidebar_menu .logo a{
    position:absolute;
    left:50px;
    top:13px;
    text-decoration:none;
    font-size:20px;
    font-weight: 500;
    color:rgb(26, 118, 194);

}
.sidebar_menu .btn_two i{
    color:rgb(183, 49, 49);
    position:absolute;
    font-size:25px;
    line-height:60px;
    opacity: 0;
    left:275px;
    cursor: pointer;
}
.sidebar_menu .menu{
    position: absolute;
    width:100%;
    top:80px;
}
.sidebar_menu .menu li{
    padding: 14px 20px;
    margin-top:6px;
}
.sidebar_menu .menu i,a{
    color:rgb(59, 203, 150);
    text-decoration:none;
    font-size:20px;
}
.sidebar_menu .menu i{
    padding-right:8px;
    color:rgb(215, 132, 8)
    
}
.sidebar_menu .social_media{
    
    position:absolute;
   left:20%;
    bottom:20px;
}
.sidebar_menu .social_media i{
color:rgb(134, 213, 23);
    opacity: 0.5;
    padding:0 5px;
}
#check{
    display:none;
}
.sidebar_menu .menu li:hover{
    box-shadow:0 0 4px rgba(255,255,255,0.5);
    transform:scale(1.1);
     transition: all 0.1s linear;
}

.btn_one i:hover{
    font-size: 40px;
     transition: all 0.1s linear;
}

.btn_two i:hover{
    font-size:30px;
}
.sidebar_menu .social_media i:hover{
    opacity: 1;
    transform:scale(1.4);
     transition: all 0.1s linear;
}

#check:checked ~ .sidebar_menu{
    left:0;

}
#check:checked ~  .btn_one i{
    opacity: 0;
}
#check:checked ~ .sidebar_menu .btn_two i{
    opacity: 1;
}
.sidebar_menu .logo a:hover{

 box-shadow:0 0 4px rgba(186, 132, 8, 0.5);
    transform:scale(1.1);
     transition: all 0.1s linear;
}



